body {
    font-family: Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("nyc_night.jpg");
    background-position-y: 160%;
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.header_links {
    display: flex;
    gap: 35px;
    margin-right: 25px;
    font-size: 14px;
}

a {
    list-style: none;
    text-decoration: none;
    color: rgb(252, 40, 40);
}

img[src="./UFC_logo.png"] {
    width: 75px;
    height: auto;
    margin: 10px;
    margin-left: 25px;
}

.top {
    background-color: black;
    color: rgb(233, 227, 215);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top_content {
    width: 600px;
}

img[src="./281_art.jpg"] {
    height: auto;
    width: 600px;
    margin: 30px;
    border-radius: 40px;
}

.button_ppv {
    margin-top: 20px;
}

.button_ppv,
.button_bottom {
    border-radius: 5px;
    padding: 5px 20px;
    background-color: rgb(201, 169, 59);
    border: none;
}

.first_mid {
    background-color: black;
    text-align: center;
}

.ftw {
    display: flex;
    justify-content: space-evenly;
    color: rgb(233, 227, 215);
}

.ftw_images {
    height: auto;
    width: 125px;
    border-radius: 5px;
}

.pereira,
.weili,
.poirier,
.chandler {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    gap: 10px;
}

.name {
    font-weight: bold;
}

.name,
.detail {
    font-family: Arial, Helvetica, sans-serif;
}

.second_mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    padding: 150px;
    padding-top: 150px;
    padding-bottom: 0;
    font-size: 25px;
    font-style: italic;
    color: rgb(233, 227, 215);
}

.person {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 200px;
    padding-bottom: 100px;
    color: rgb(233, 227, 215);
}

.bottom {
    margin: 40px 400px;
    background-color: rgb(95 93 88);
    padding: 30px 40px;
    border-radius: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.footer {
    color: rgb(233, 227, 215);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 12px;
}